body{
    background: #333;
}
.nav-item{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.nav-item:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
}

.active{
    background: linear-gradient(90deg, rgba(252, 248, 4, 0.5) 30%, rgba(115, 231, 131, 0.5) 100% );
    border-radius: 40% 56% 80% 10% / 42% 42% 56% 48%;
    width: 95px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: morph 3.70s linear infinite;
}

@keyframes morph {
    0%, 100% {
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }
    33% {
        border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
    }
    66% {
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }

}

.cam-web{
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
    max-height: 380px;
}